<html ng-app="mymusic" ng-controller="MainController">
    <head>
        <title ng-bind="music.currentSongTitle">MyMusic</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">

        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/node_modules/jquery-ui-dist/jquery-ui.min.css"/>
        <link rel="stylesheet" href="/node_modules/angular-ui-notification/dist/angular-ui-notification.min.css"/>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body ng-cloak class="ng-cloak" ng-style="{'background-image': getWallp() }">
        <input class="hidden-inputs" id="newSongDisk" multiple file-model="music.newSongFile" type="file" accept="audio/*"/>
        <input class="hidden-inputs" id="backgroundInput" file-model="music.backgroundFile" type="file" accept="image/*"/>
        <audio id="audio" ng-timeupdate="updateTime()" onended="angular.element(this).scope().next()"></audio>
        <audio id="vkaudio"></audio>
        <div ng-if="loading" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div ng-if="music.searchLoading" class="lds-roller search-loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="music" ng-if="user">
            <div class="player">
                <div class="col-1 controls">
                    <div ng-click="prev()">
                        <i data-feather="skip-back"></i>
                    </div>
                    <div ng-if="!music.playing" ng-click="play()">
                        <i data-feather="play"></i>
                    </div>
                    <div ng-if="music.playing" ng-click="pause()">
                        <i data-feather="pause"></i>
                    </div>
                    <div ng-click="next(true)">
                        <i data-feather="skip-forward"></i>
                    </div>
                </div>
                <div class="songtitle">
                    <div class="time" ng-if="music.currentSongId">
                        <span>{{music.currentTime}}</span>
                        <span>/</span>
                        <span>{{music.durationTime}}</span>
                    </div>
                    <marquee #songTitleMarquee
                             direction="left"
                             behavior="alternate">
                        {{music.currentSongTitle}}
                    </marquee>
                </div>
                <div class="extra" ng-class="{'col-1': !music.currentSongId, 'col-2': music.currentSongId}">
                    <div class="span-wrapper"
                         ng-class="{'active': music.repeat}"
                         ng-click="music.random = false; music.repeat = !music.repeat">
                        <span>
                            <i data-feather="repeat"></i>
                        </span>
                    </div>
                    <div class="span-wrapper"
                         ng-class="{'active': music.random}"
                         ng-click="music.repeat = false; music.random = !music.random">
                        <span>
                            <i data-feather="shuffle"></i>
                        </span>
                    </div>
                    <div class="span-wrapper"
                         ng-click="downloadSong()"
                         ng-if="music.currentSongId">
                        <span>
                            <i data-feather="download"></i>
                        </span>
                    </div>
                    <div class="span-wrapper"
                         ng-click="shareSongs([music.currentSongId])"
                         ng-if="music.currentSongId">
                        <span>
                            <i data-feather="share-2"></i>
                        </span>
                    </div>
                    <!--<span>
                        <span class="username">{{user.username}}</span>
                        <i data-toggle="tooltip"
                               data-placement="bottom" title="Logout"
                               ng-click="logout()"
                               class="fas fa-sign-out-alt">
                        </i>
                    </span>-->
                </div>
            </div>
            <div class="panels">
                <ul ng-if="modePlaylists" class="col-6 playlists music-container"
                    ui-sortable="sortablePlaylists"
                    ng-model="user.playlists">
                        <li class="item"
                        ng-if="user.playlists.length > 0"
                        ng-class="{'active': item._id === music.currentPlayingPlaylistId}"
                        ng-repeat="item in user.playlists">
                        <span class="cut" ng-click="setPlaylist(item)">
                            <span class="cut">
                                {{item.name}}
                            </span>
                        </span>
                        <div class="hover-actions">
                            <i data-feather="edit-2" ng-click="renamePlaylistModalShow(item)"></i>
                            <i data-feather="share-2" ng-click="sharePlaylist(item)"></i>
                            <i data-feather="x-square" ng-click="removePlaylist(item)"></i>
                        </div>
                    </li>
                </ul>
                <div ng-if="!modePlaylists" class="col-6 songs music-container">
                    <li class="item playlist-back">
                        <i class="playlist-back-icon" data-feather="arrow-left-circle" ng-click="modePlaylistsTurnOn()"></i>
                        <span class="cut playlist-back-span" ng-click="modePlaylistsTurnOn()">{{music.currentPlaylistName}}</span>
                        <i data-feather="upload" ng-click="selectFile()"></i>
                    </li>
                    <ul ng-if="!modePlaylists"
                        id="songs-container"
                        ui-sortable="sortableSongs"
                        ng-model="music.currentPlaylistSongs">
                        <li class="item"
                            id="song-{{item._id}}"
                            ng-if="music.currentPlaylistSongs.length > 0"
                            ng-class="{'active': item._id === music.currentSongId}"
                            ng-repeat="item in music.currentPlaylistSongs">
                        <span class="cut song-select" ng-click="setSong(item)">
                            {{item.title}}
                        </span>
                            <div class="hover-actions">
                                <i data-feather="edit-2" ng-click="renameSongModalShow(item)"></i>
                                <i data-feather="file-text" ng-click="getSongData(item)"></i>
                                <i data-feather="download" ng-click="downloadSong(item)"></i>
                                <i data-feather="share-2" ng-click="shareSongs([item._id])"></i>
                                <i data-feather="x-square" ng-if="music.currentSongId !== item._id"
                                   ng-click="removeSong(item)"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-6 search music-container">
                    <div class="search-block">
                        <div class="search-full-line">
                            <div class="search-input">
                                <input type="text"
                                       ng-model="music.searchLine"
                                       ng-keyup="$event.keyCode == 13 && search()"
                                       placeholder="Type and press enter to search...">
                                <i class="search-icon"
                                   ng-if="!music.searchLine"
                                   data-feather="search"></i>
                                <i class="search-icon"
                                   ng-if="music.searchLine"
                                   ng-click="music.searchLine = null; music.searchResults = []"
                                   data-feather="x"></i>
                            </div>
                            <div class="search-opts">
                                <div class="opt" ng-click="changeSearchMode('VK')"
                                     ng-class="{'active': music.searchOpt === 'VK'}">VK</div>
                                <div class="opt" ng-click="changeSearchMode('YT')"
                                     ng-class="{'active': music.searchOpt === 'YT'}">YT</div>
                            </div>
                        </div>
                        <div class="search-result">
                            <div ng-if="music.searchOpt === 'VK' && music.searchResults && music.searchResults.length > 0"
                                 class="item vk-search-item"
                                 ng-class="{'active': item.playing}"
                                 ng-repeat="item in music.searchResults">
                                <div class="main-line">
                                    <div class="play-controls">
                                        <i data-feather="play" ng-click="toggleVkAudio(item)" ng-if="!item.playing"></i>
                                        <i data-feather="pause" ng-click="toggleVkAudio(item)" ng-if="item.playing"></i>
                                    </div>
                                    <div class="title">
                                        <span class="cut title" ng-click="search(item.title)">{{item.title}}</span>
                                    </div>
                                </div>
                                <div class="extra-line">
                                    <div class="duration">{{item.duration}}</div>
                                    <div class="add-controls">
                                        <i data-feather="download" ng-click="downloadVKSong(item)"></i>
                                        <i data-feather="plus-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="queue-block" ng-if="getKeysLength(queue) > 0"></div>
                </div>
            </div>
            <div class="footer">
                <span ng-if="!music.currentSongTitle || !music.currentPlayingPlaylistName"></span>
                <span class="status cut" ng-if="music.currentSongTitle && music.currentPlayingPlaylistName">
                    <span class="footertext">Playing </span> <b class="cut footertext link" ng-click="footerPlaylistLink()">{{music.currentSongTitle}}</b>
                    <span class="footertext">from</span>
                    <b class="cut footertext link" ng-click="footerPlaylistLink()">{{music.currentPlayingPlaylistName}}</b>
                    <span class="footertext" ng-if="music.repeat"> on <b>[ Repeat ]</b></span>
                    <span class="footertext" ng-if="music.random"> on <b>[ Random ]</b></span>
                </span>
                <div class="extra-controls">
                    <div class="span-wrapper" ng-click="modals.addPlaylist.modal('show')">
                        <span>Add playlist</span>
                    </div>
                    <div class="span-wrapper" data-toggle="modal" data-target="#queueModal">
                        <span>Queue: {{getKeysLength(queue)}}</span>
                    </div>
                    <div class="span-wrapper" data-toggle="modal" data-target="#settingsModal">
                        <span>Settings</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="auth" ng-if="!user && !loading">
            <form>
                <div class="tip">
                    <span>Use the fields below to log in/sign up</span>
                </div>
                <div class="form-group">
                    <input type="text" autofocus
                           class="form-control"
                           placeholder="Username"
                           ng-keyup="$event.keyCode == 13 && authPost()"
                           ng-model="authData.username">
                </div>
                <div class="form-group">
                    <input type="password"
                           class="form-control"
                           placeholder="Password"
                           ng-keyup="$event.keyCode == 13 && authPost()"
                           ng-model="authData.password">
                </div>
                <button type="button" class="btn btn-light" ng-click="authPost()">Authorize</button>
            </form>
        </div>
        <canvas id="eq">

        </canvas>

        <!--Modals-->
        <!--Add Playlist-->
        <div class="modal fade" id="addPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="addPlaylistLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addPlaylistLabel">Add playlist</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input autofocus type="text"
                                   class="form-control"
                                   placeholder="Name"
                                   ng-model="music.newPlaylistName">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="addPlaylist()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Rename Playlist-->
        <div class="modal fade" id="renamePlaylistModal" tabindex="-1" role="dialog" aria-labelledby="renamePlaylistLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="renamePlaylistLabel">Rename playlist</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" autofocus
                                   class="form-control"
                                   placeholder="Name"
                                   ng-model="music.renamePlaylist.name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="renamePlaylist()">Rename</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Rename Song-->
        <div class="modal fade" id="renameSongModal" tabindex="-1" role="dialog" aria-labelledby="renameSongLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="renameSongLabel">Rename song</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" autofocus
                                   class="form-control"
                                   placeholder="Name"
                                   ng-model="music.renameSong.title">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="renameSong()">Rename</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Add Song-->
        <div class="modal fade" id="addSongModal" tabindex="-1" role="dialog" aria-labelledby="addSongLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addSongLabel">Add songs</h5>
                        <button type="button" class="close"
                                ng-click="music.addFromYTMode=false;music.youtubeLinks=['']"
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body add-songs-body">
                        <div class="form-group yt-link-rows" ng-if="music.addFromYTMode">
                            <div class="yt-link-row" ng-repeat="item in music.youtubeLinks track by $index">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Youtube video link"
                                       ng-model="music.youtubeLinks[$index]" autofocus>
                                <button ng-if="music.youtubeLinks.length > 1" type="button" class="close">
                                    <span ng-click="removeYTRow($index)">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                ng-click="music.addFromYTMode=false;music.youtubeLinks=['']">Close</button>
                        <button type="button"
                                ng-if="music.addFromYTMode"
                                class="btn btn-primary"
                                ng-click="addYTRow()">
                            Add link
                        </button>
                        <button type="button"
                                ng-if="music.addFromYTMode"
                                class="btn btn-primary"
                                ng-class="{'disabled': checkYTButtonDisabled()}"
                                ng-click="addSongYoutube()">
                            Upload
                        </button>
                        <button type="button"
                                ng-if="!music.addFromYTMode"
                                class="btn btn-primary"
                                ng-click="music.addFromYTMode = true"
                        >
                            Add from YouTube
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                ng-if="!music.addFromYTMode"
                                ng-click="selectFile()">
                            Add from Disk
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Copy Songs-->
        <div class="modal fade" id="copySongsModal" tabindex="-1" role="dialog" aria-labelledby="copySongsLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="copySongsLabel">Copy songs wizard: {{copyWizardStepDescription()}}</h5>
                        <button type="button" class="close" ng-click="copyWizardClose()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="step" id="step0" ng-if="copySongsWizard.step === 0">
                            <div class="item"
                                 ng-click="copySongsWizardSetPlaylist(item)"
                                 ng-repeat="item in user.playlists">
                                <span class="cut">{{item.name}}</span>
                            </div>
                        </div>
                        <div class="step" id="step1" ng-if="copySongsWizard.step === 1">
                            <span class="empty" ng-if="copySongsWizard.srcPlaylist.songs.length === 0">Playlist is empty</span>
                            <div class="item"
                                ng-click="item.copyActive = !item.copyActive"
                                ng-if="copySongsWizard.srcPlaylist.songs.length > 0"
                                ng-class="{'active': item.copyActive}"
                                ng-repeat="item in copySongsWizard.srcPlaylist.songs">
                        <span class="cut">
                            {{item.title}}
                        </span>
                            </div>
                        </div>
                        <div class="step" ng-if="copySongsWizard.step === 2">
                            <div class="item"
                                 ng-click="copySongsWizardFinish(item)"
                                 ng-hide="item._id === copySongsWizard.srcPlaylist._id"
                                 ng-repeat="item in user.playlists">
                                <span class="cut">{{item.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div ng-if="copySongsWizard.step === 0">
                            <button type="button" class="btn btn-secondary" ng-click="copyWizardClose()">Close</button>
                        </div>
                        <div ng-if="copySongsWizard.step === 1">
                            <button type="button" class="btn btn-secondary" ng-click="copyWizardClose()">Close</button>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="copyWizardBack(0)">
                                Back
                            </button>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="copySongsWizardSelectDestPlaylists()">
                                Next
                            </button>
                        </div>
                        <div ng-if="copySongsWizard.step === 2">
                            <button type="button" class="btn btn-secondary" ng-click="copyWizardClose()">Close</button>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="copyWizardBack(1)">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Settings-->
        <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="settingsLabel">Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="step">
                            <div class="item" data-toggle="tooltip" title="Double-click to upload"
                                 sglclick="backgroundAction()" ng-dblclick="backgroundUpload()">
                                <b ng-if="user.backgroundToggle">[ </b>
                                <span>Background</span>
                                <b ng-if="user.backgroundToggle"> ]</b>
                            </div>
                            <div class="item" ng-click="lfmAction()">
                                <b ng-if="user.lastFMToggle">[ </b>
                                <span>Last.FM</span>
                                <b ng-if="user.lastFMToggle"> ]</b>
                            </div>
                            <div class="item" ng-click="logout()" data-dismiss="modal" aria-label="Close">
                                <span>Logout</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Extra-->
        <div class="modal fade" id="extraModal" tabindex="-1" role="dialog" aria-labelledby="extraLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="extraLabel">Lyrics & Recommendations</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="lyrics">
                        <span class="line"
                              ng-if="!music.loadingSongData && music.currentSongData && music.currentSongData.lyrics"
                              ng-repeat="line in music.currentSongData.lyrics track by $index">
                            {{line}}
                        </span>
                            <div class="disclaimer" ng-if="!music.loadingSongData && music.currentSongData && !music.currentSongData.lyrics">
                                <span>No lyrics found</span>
                                <span>Try to rename song in format ARTIST - TITLE</span>
                                <span>or</span>
                                <span class="link" ng-click="openLyricsSearchGenius()">
                                SEARCH IN GENIUS
                            </span>
                                <span>or</span>
                                <span class="link" ng-click="openLyricsSearchGoogle()">
                                SEARCH IN GOOGLE
                            </span>
                            </div>
                            <div class="disclaimer" ng-if="music.loadingSongData">
                                <span>Loading lyrics</span>
                            </div>
                        </div>
                        <div class="similar">
                        <span class="item cut"
                              ng-if="!music.loadingSongData && music.currentSongData && music.currentSongData.similar.length > 0"
                              ng-click="openSimilar(song)"
                              ng-repeat="song in music.currentSongData.similar track by $index">
                            {{song}}
                        </span>
                            <div class="disclaimer" ng-if="!music.loadingSongData && music.currentSongData && music.currentSongData.similar.length === 0">
                                <span>No similar found</span>
                            </div>
                            <div class="disclaimer" ng-if="music.loadingSongData">
                                <span>Loading similar songs</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Queue-->
        <div class="modal fade" id="queueModal" tabindex="-1" role="dialog" aria-labelledby="queueLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="queueLabel">Queue</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="step">
                            <div class="item queue-item" ng-if="getKeysLength(queue) === 0">
                                <span style="width: 100%; text-align: center">Queue is empty</span>
                            </div>
                            <div class="item queue-item"
                                 ng-if="getKeysLength(queue) > 0"
                                 ng-repeat="(key, value) in queue">
                                <span class="title cut">
                                    {{value.title}}
                                </span>
                                <span class="percentage" ng-if="!value.finished">{{value.percentage}}</span>
                                <span class="percentage" ng-if="value.finished">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="percentage" ng-if="value.failed">
                                    <i class="fas fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--SharePlaylist-->
        <div class="modal fade" id="sharePlaylistModal" tabindex="-1" role="dialog" aria-labelledby="sharePlaylistLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sharePlaylistLabel">Share</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="step">
                            <div class="item queue-item" ng-if="music.sharePlaylistSongs.length === 0">
                                <span style="width: 100%; text-align: center">Queue is empty</span>
                            </div>
                            <div class="item queue-item"
                                 ng-click="song.toShare = !song.toShare"
                                 ng-class="{'active': song.toShare}"
                                 ng-if="music.sharePlaylistSongs.length > 0"
                                 ng-repeat="song in music.sharePlaylistSongs">
                                <span class="title cut">
                                    {{song.title}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-secondary"
                                ng-click="sharePlaylistSetAllStatus(true)"
                                ng-if="showPlaylistSelectAllButton()">Select all</button>
                        <button type="button" class="btn btn-secondary"
                                ng-click="sharePlaylistSetAllStatus(false)"
                                ng-if="showPlaylistDeselectAllButton()">Deselect all</button>
                        <button type="button" class="btn btn-primary"
                                ng-if="showPlaylistShareButton()"
                                ng-click="copySharedPlaylist()"
                                data-dismiss="modal">Share</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Lib-->
        <script src="jquery.min.js"></script>
        <script src="/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/node_modules/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace();
        </script>
        <script src="/node_modules/angular/angular.js"></script>
        <script src="/node_modules/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
        <script src="/node_modules/ng-media-events/src/ng-media-events.js"></script>
        <script src="/node_modules/angular-ui-sortable/src/sortable.js"></script>
        <script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
        <!--JS-->
        <script src="app/directive.js"></script>
        <script src="app/service.js"></script>
        <script src="app/controller.js"></script>
        <script src="app/core.js"></script>
    </body>
</html>
